<%= form_for(@product) do |f| %>
  
<div class="row">
  <div class="small-3 columns">
<<<<<<< HEAD
    <%= f.label :name %>
=======
    <%= f.label :name, class: "right inline" %>
>>>>>>> b465acf78cf81e0fd56d2dcf73347ec3ba39c22b
  </div>
  <div class="small-9 columns">
    <%= f.text_field :name %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
<<<<<<< HEAD
    <%= f.label :subdomain %>
  </div>
  <div class="small-9 columns">
    <%= f.text_field :subdomain %>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <%= f.label :content %>
  </div>
  <div class="small-9 columns">
    <%= f.text_field :content %>
=======
    <%= f.label :price, class: "right inline", title: "Price in USD", data: {tooltip: true } %>
  </div>
  <div class="small-9 columns">
    <%= f.text_field :price %>
>>>>>>> b465acf78cf81e0fd56d2dcf73347ec3ba39c22b
  </div>
</div>
<div class="row">
  <div class="small-9 small-offset-3 columns">
    <%= f.submit %>
  </div>
</div>


<% end %>
