<body class="abc1">

<p id="notice"><%= notice %></p>
<div>
<ul>
<% if model_signed_in? %>
  Logged in as <strong><%= current_model.email %></strong>.
  <li><%= link_to 'Edit profile', edit_model_registration_path, :class => 'navbar-link' %> </li>|
  <li><%= link_to 'Logout', destroy_model_session_path, method: :delete, :class => 'navbar-link'  %></li>
<% else %>
  <li><%= link_to 'Sign up', new_model_registration_path, :class => 'navbar-link'  %> |</li>
  <li><%= link_to 'Login', new_model_session_path, :class => 'navbar-link'  %></li>
<% end %></ul></div>
<div style="text-align:center;">
<h1 style="color:#C00615;">Listing Products</h1>
<br>
<table  style="margin-left:35%;" border="2px;" cellspacing="1px">
  <thead>
    <tr>
      <th colspan="3" style=" color:#fff;">Name</th>
      <th colspan="3" style="color:#fff;"> Subdomain</th>
      <th colspan="3" style="color:#fff;"> Content</th>
      <th colspan="5" style="color:#fff;">Generate </th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td colspan="3" style="text-align:center;color:#D176D8;"><%= product.name %></td>
        <td colspan="3" style="text-align:center; color:#D176D8;"><%= product.subdomain %></td>
        <td colspan="3" style="text-align:center;color:#D176D8;"><%= product.content %></td>
        <td ><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Product', new_product_path %>
</div>
</body>